<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DNS Resolver</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = { theme: { extend: { colors: { body: '#fafcfd',
      container: '#090c15', container1: '#293761', button: '#293761' }, } } }
    </script>
  </head>
  <body class="bg-body font-[Roboto] p-2 md:p-4">
    <h1 class="text-center text-3xl mt-10 mb-10">DNS Resolver</h1>

    <div class="max-w-3xl mx-auto bg-container text-body rounded p-4 overflow-x-auto">
      <p class="text-2xl text-center">{{message}}</p>
      {{#with data}}
        <ul>
          <li class="mb-5">
            <p>NS Record</p>
            <code class="pl-5 block">
              {{#each ns}}
                <pre>{{this}}</pre>
              {{/each}}
            </code>
          </li>
          <li class="mb-5">
            <p>IP</p>
            <code class="pl-5 block">
              {{#each ip}}
                <pre>{{this}}</pre>
              {{/each}}
            </code>
          </li>
          <li class="mb-5">
            <p>TXT</p>
            <ul>
              {{#each txt}}
                <code class="pl-5 block">
                  {{#each this}}
                    <pre>{{print_txt}}</pre>
                  {{/each}}
                </code>
              {{/each}}
            </ul>
          </li>
          <li class="mb-5">
            <p>CNAME</p>
          </li>
          <li class="mb-5">
            <p>MX</p>
            <code class="pl-5 block">
              {{#each mx}}
                <pre>{{this.exchange}} - {{this.priority}}</pre>
              {{/each}}
            </code>
          </li>
        </ul>
      {{/with}}

      <p class="text-xs text-center my-5 text-blue-500 font-semibo"><a href="/">Try another</a></p>
      <p class="text-xs text-center font-thin my-5">Made by
        <a
          href="https://github.com/spiffgreen"
          class="text-blue-500 font-semibold"
        >SpiffGreen</a></p>
    </div>

  </body>
</html>